<a href="https://colab.research.google.com/github/fathimar33/python_programs/blob/main/python_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Merge Function

>parameters:
> how :right,left,outer,inner,cross


> dataframe



> copy-whether need duplicates or not




> left_index,right_index=to decide whether the index should be left or right


> sort=sorting is to be done or not based on key



> on key or not (based on particular coln merging will be done)

In [ ]:
im

In [ ]:
import pandas as pd
id=[1001,1002,1003]
name=["fathi","ini","chandru"]
df=pd.DataFrame({"id":id,"name":name})
id=[1002,1003]
ern=[15678,93883]
df1=pd.DataFrame({"id":id,"ern":ern})

In [ ]:
df.merge(df1,how="inner",on="id")

     id     name    ern
0  1002      ini  15678
1  1003  chandru  93883

In [ ]:
df.merge(df1,how="left",on="id")

     id     name      ern
0  1001    fathi      NaN
1  1002      ini  15678.0
2  1003  chandru  93883.0

Python Program to Check if a Number is Odd or Even.

In [ ]:
class exp(Exception):
  pass
class inp:
  def get_input(self):
    while True:
      try:
        self.a=int(input("Enter the number you want to check"))
        break
      except ValueError:
        print("Invalid input.You must enter an integer")
class odd_even(inp):
  def check(self):
    inp.get_input(self)
    if self.a%2==0:
      print(f"The number {self.a} is even")
    else:
      print(f"The number {self.a} is odd")
obj=odd_even()
obj.check()

Enter the number you want to checkinp
Invalid input.You must enter an integer
Enter the number you want to check23
The number 23 is odd

To check if the number is prime or not

In [ ]:
def check_prime(n):
  for i in range(2,n):
    if(n%i==0):
      print("not prime")
      break
  print("prime")
n=int(input("enter the number"))
check_prime(n)

enter the number3
prime

Write a Python factorial program using ternary operators.

In [ ]:
def factorial(n):
  return 1 if n==0 else n*factorial(n-1)
n=int(input("enter the number"))
a=factorial(n)
print(f"factorial of a number is {a}")

enter the number5
factorial of a number is 120

find the armstrong of a number

In [ ]:
n=input("enter the number")
n1=len(n)
sum=0
for i in n:
  num=int(i)
  p=pow(num,n1)
  sum+=p
if int(n)==sum:
  print(f"The given number {n} is armstrong")
else:
  print(f"The given number {n} is not armstrong")

enter the number153
The given number 153 is armstrong

Multiplication table using for loop

filter function in python is used to filter based on our requirement

In [2]:
def func(var):
  if var in["chennai"]:
    return True
  else:
    return False


seq=["chennai","kolkata","chennai"]
result=filter(func,seq)
for i in result:
  print(i)

chennai
chennai