find the probability of getting heads in tossing a coin 10 times

In [ ]:
import numpy as np

In [ ]:
np.random.seed(42)
l=[np.random.choice(["H","T"]) for i in range(1,11)]
count_h=len([i for i in l if i=="H"])
count_t=len([i for i in l if i=="T"])
print(f"probability of getting heads: {count_h/len(l):.4f}")

probability of getting heads: 0.7000

find the probability of getting red in a deck of 52 cards

In [ ]:
card_grp=["clubs","diamond","hearts","spades"]
card=["Ace","2","3","4","5","6","7","8","9","10","king","jack","queen"]
l=[[i,j] for i in card_grp for j in card]
count_red=len([m for m in l if m[0]  in("diamond","hearts")])
print(f"probability of picking red card",count_red/len(l))

probability of picking red card 0.5

find the probability of getting even number in rolling a dice(two die)

In [ ]:
import random

s = [[random.randint(1, 6), random.randint(1, 6)] for _ in range(36)]
print(s)

count = len([pair for pair in s if (pair[0] + pair[1]) % 2 == 0])
print(count)

probability = count / len(s)
print(f"Probability of getting even numbers in rolling two dice: {probability:.2f}")

[[6, 4], [5, 2], [6, 6], [5, 5], [6, 1], [5, 6], [2, 5], [3, 2], [4, 2], [6, 1], [6, 1], [2, 6], [3, 4], [5, 1], [5, 4], [4, 6], [1, 5], [5, 3], [6, 4], [1, 6], [1, 5], [4, 6], [1, 3], [6, 1], [4, 4], [6, 3], [3, 4], [3, 3], [4, 5], [2, 1], [2, 3], [5, 4], [2, 4], [4, 2], [1, 6], [3, 6]]
17
Probability of getting even numbers in rolling two dice: 0.47

probability of getting 3,4 and 5


1.   3 in first throw
2.   4 in second throw and subsequently 5 in third row

In [ ]:
l=[1,2,3,4,5,6]
p=1
for i in [3,4,5]:
  if i in l:
    p*=1/len(l)
print(f"probability : {round(p,5)}")

probability : 0.00463

probobaility of getting 3 or 4 or 5

In [ ]:
import random

In [ ]:
l=[1,2,3,4,5,6]
p_3_4_5=0
for i in l:
  if i==3 or i==4 or i==5:
    p_3_4_5+=1
print(f"probability : {p_3_4_5/len(l)}")

probability : 0.5

class of 80 students
40 percent-munich
60-johannesburg
30-both


> what is the proportion of students prefered one location

In [ ]:
p_a=0.4
p_b=0.6
p_a_in_b=0.3
p_a_or_b=p_a+p_b-p_a_in_b
print(f"proportion of students prefered one location {p_a_or_b}")

proportion of students prefered one location 0.7

In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame(pd.read_csv("/content/drive/MyDrive/Titanic.csv"))

In [ ]:
df

,Name,PClass,Age,Sex,Survived
0,"Allen, Miss Elisabeth Walton",1st,29.00,female,1
1,"Allison, Miss Helen Loraine",1st,2.00,female,0
2,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0
3,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0
4,"Allison, Master Hudson Trevor",1st,0.92,male,1
...,...,...,...,...,...
1308,"Zakarian, Mr Artun",3rd,27.00,male,0
1309,"Zakarian, Mr Maprieder",3rd,26.00,male,0
1310,"Zenni, Mr Philip",3rd,22.00,male,0
1311,"Lievens, Mr Rene",3rd,24.00,male,0
1312,"Zimmerman, Leo",3rd,29.00,male,0

In [ ]:
df1=pd.crosstab(df.Sex,df.Survived,margins=True)

In [ ]:
df1

Survived    0    1   All
Sex
female    154  308   462
male      709  142   851
All       863  450  1313

In [ ]:
#1-survived
#0-not survived

df2=pd.DataFrame(df1)

In [ ]:
df2.columns=[["not survived","survived","total"]]

In [ ]:
df2

       not survived survived total
Sex
female          154      308   462
male            709      142   851
All             863      450  1313

In [ ]:
df2.index=[["female","male","total"]]

In [ ]:
df2

       not survived survived total
female          154      308   462
male            709      142   851
total           863      450  1313

probability of the passenger survived

In [ ]:
df2.loc["total","survived"]

      survived
total      450

In [ ]:
df2.loc["total","total"]

      total
total  1313

In [ ]:
print(f'probability {round(450/1313,2)}')

probability 0.34

what is the probability that a passenger was female

In [ ]:
df2.loc["female","total"]

       total
female   462

In [ ]:
print(f'probability that a passenger was female {round(460/1313,2)}')

probability that a passenger was female 0.35

what is the probability that a passenger survived given they are female

In [ ]:
#condition is female p{survived/female}
df2.loc["female","total"]

       total
female   462

In [ ]:
df2.loc["female","survived"]

       survived
female      308

In [ ]:
print(f'probability that a passenger was female {round(308/462,2)}')

probability that a passenger was female 0.67

In [ ]:
df2.loc["male","survived"]

     survived
male      142

In [ ]:
df2.loc["male","total"]

     total
male   851

In [ ]:
print(f'probability that a passenger was male {round(142/851,2)}')

probability that a passenger was male 0.17

In [ ]:
df1=pd.crosstab(df.PClass,df.Survived,margins=True)

In [ ]:
df1

Survived    0    1   All
PClass
1st       129  193   322
2nd       160  119   279
3rd       573  138   711
All       862  450  1312

In [ ]:
df2=pd.DataFrame(df1)

In [ ]:
df2.index=[["1st","2nd","3rd","total"]]

In [ ]:
df2.columns=[["not survived","survived","total"]]

In [ ]:
df2

      not survived survived total
1st            129      193   322
2nd            160      119   279
3rd            573      138   711
total          862      450  1312

In [ ]:
df2.loc["1st","survived"]

    survived
1st      193

In [ ]:
print(f'probability of 1st class people given survived {round(193/1312,2)}')

probability of 1st class people given survived 0.15

In [ ]:
df1=df.groupby(["Sex","PClass","Survived"])["Survived"].count()

In [ ]:
df.loc[df.Survived==1,:].groupby(["Sex","PClass","Survived"]).count()

                        Name  Age
Sex    PClass Survived
female 1st    1          134   96
       2nd    1           94   75
       3rd    1           80   46
male   1st    1           59   43
       2nd    1           25   21
       3rd    1           58   32

probability of surviving given a passenger who is female nd first class

In [ ]:
#p(survived/female&first class)
print(f'probability of 1st class people (female)given survived {round(80/308,2)}')

probability of 1st class people (female)given survived 0.26

#bayes theorem
#used in classification problem
In a bolt factory, three machines Mâ‚, Mâ‚‚, and Mâ‚ƒ manufacture 2000, 2500, and 4000 bolts every day. Of their output 3%, 4%, and 2.5% are defective bolts. One of the bolts is drawn very randomly from a dayâ€™s production and is found to be defective. What is the probability that it was produced by machine Mâ‚‚?

In [5]:
#probability of m1=no of bolts produced by m1/total no of bolts produced
p_m1=round(2000/9500,2)
p_m2=round(2500/9500,2)
p_m3=round(4000/9500,2)
p_d_m1=0.03
p_d_m2=0.04
p_d_m3=0.025
p_m2_d=(p_m2*p_d_m2)/(p_d_m2*p_m1+p_m2*p_d_m2+p_d_m3*p_m3)
print(f"probability that it was produced by machine Mâ‚‚ {round(p_m2_d,2)}")

probability that it was produced by machine Mâ‚‚ 0.35